<h1>Session: <%= @session.title %></h1>

<p>Session Date: <%= @session.date.strftime("%A, %B %e, %Y") %> at <%= @session.date.strftime("%I:%M %p") %></p>

<p>Game: <%= @session.game.title %></p>

<h3>Players</h3>
<p><% @session.users.each do |user| %></p>
    <%= link_to user.username, user_path(user) %>
<% end %>

<% if @session.users.include?(User.find_by(id: session[:user_id])) %>
<%= form_for %>
<% end %>

<%# any public session should have a join button %>