<h1>Create New Account</h1>

    <% if @user.errors.any? %>
        <h3><%= @user.errors.count %> errors</h3>
        <% @user.errors.full_messages.each do |message|%>
            <li><%= message %></li>
        <% end %>
    <% end %><br>

<%= form_for(@user) do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %><br>
    <%= f.label :age, "Age:" %>
    <%= f.number_field :age %><br>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %><br>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %><br>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "Confirm Password:" %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.label :profile_picture, "Profile Picture:" %>
    <%= f.file_field :avatar %><br>
    <%= f.submit %><br>

<% end %>