<h1><%= @user.username %></h1>

<style>
    img {
  width: 8%;
  height: auto;
  border-radius: 10%
}
</style>

<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar  %>
<% end %>

<% if @user == (User.find_by(id: session[:user_id])) %>
    <%= button_to "Edit User", edit_user_path(@user), method: :get%>
<% end %>

<% if @user == (User.find_by(id: session[:user_id])) %>
    <%= button_to "Delete Profile", "/users/#{@user.id}", method: :delete %>
<% end %>


<h3>Communities:</h3>
<ul>
    <% @user.communities.each do |community|%>
        <% if community.public %>
                <li><%= link_to community.title, community_path(community) %></li>
            <% end %>
    <% end %>
</ul>

<h3>Game History:</h3>

<% #games = [] %>

<% if false %>
    <% @user.communities.each do |community|%>
        <% if community.public %>
                <% games << community.game %>
            <% end %>
    <% end %>
<% end %>

<ul>
    <% game_array = @user.sessions.map do |session|%>
        <% #if session.public %>
            <% session.game %>
        <% #end %>
    <% end %>

    <% game_array.uniq.each do |game| %>
        <li><%= link_to game.title, game_path(game) %> - played <%= game_array.count(game) %> times</li>
    <% end %>

</ul>

<h3>Sessions:</h3>

    <% @user.sessions.each do |session|%>
    <ul>
                <li><%= link_to session.title, session_path(session) %></li>
                <li><%= session.date.strftime("%A, %B %e, %Y at %I:%M %p") %></li>
   </ul>
    <% end %>

