<h2><%= @game.title %></h2>

<p> Description: <%= sanitize @game.description %></p><br>
<p> Minimum Age Requirement: <%= @game.min_age %></p><br>
<p>Number of Players:<%= @game.min_players %> - <%= @game.max_players %></p><br>
<p> Price: <%= @game.price %></p><br>
<p> Average Game Length: <%= @game.avg_playtime %></p><br>
<p> Link to Rules: <a href="<%= @game.rules %>" target="_blank">link to game rules</a></p>