<!DOCTYPE html>
<html>
  <head>
    <title>GamePlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
    <%= button_to "Communities", communities_path, method: :get %><%= button_to "Games", games_path, method: :get %><%= button_to "Profiles", users_path, method: :get %>
  <body>
    

    <%= yield %>

  </body>
</html>
