<!DOCTYPE html>
<html>
  <head>
    <title>GamePlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
    <nav class = "top-nav">
    <div class = "left-nav">

     <%= button_to "Home", home_path, method: :get %>
      <%= button_to "Communities", communities_path, method: :get %>
      <%= button_to "Games", games_path, method: :get %>
      </div>
      <% if !session[:user_id] %>
          <%= button_to "Create Account", new_user_path, method: :get %>
          <%= button_to "Login", login_path, method: :get %>
        <% else %>
          <%= button_to "Sessions", sessions_path, method: :get %>
          <%= button_to "New Session", new_session_path, method: :get %>
          <%= button_to "My Profile", user_path(User.find_by(id: session[:user_id])), method: :get %>
          <%= button_to "Logout", logout_path, method: :delete %>
      <% end %>
      
      <% if session[:user_id] %>
        <b>Logged in as <%= User.find_by(id: session[:user_id]).username %></b>
      <% end %>
    </nav>
    
    <ul>
      <% if flash.alert %>
        <% flash.alert.each do |error| %>
          <li><%= error.first %></li>
        <% end %>
      <% end %>
    </ul>
  <body>
    

    <%= yield %>

  </body>
  <img src = "https://user-images.githubusercontent.com/73184313/106181880-bcac5800-6163-11eb-8cdb-34296caca371.png" class= "background-home-page" alt= "colorful whirlpool painting">
</html>
